
minerd
minerd.exe
*.o

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
configure.lineno
depcomp
missing
install-sh
stamp-h1
cpuminer-config.h*
compile
config.log
config.status
config.status.lineno
config.guess
config.sub

mingw32-config.cache

# Cross-compilation binaries output
binaries/

# macOS SDK (large binary, should not be committed)
MacOSX.sdk.tar.xz
sdk/MacOSX.sdk.tar.xz

